/* utilities */

.relative {
    position: relative;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}