@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* fonts */
@font-face {
  font-family: 'Libre Baskerville';
  src: url("/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: 'Libre Baskerville';
  src: url("/fonts/Libre_Baskerville/LibreBaskerville-Italic.ttf");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Libre Baskerville';
  src: url("/fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf");
  font-weight: 700; }

@font-face {
  font-family: 'Futura PT';
  src: url("/fonts/Futura PT/FuturaPTBook.otf");
  font-weight: 350; }

@font-face {
  font-family: 'Futura PT';
  src: url("/fonts/Futura PT/FuturaPTMedium.otf");
  font-weight: 500; }

@font-face {
  font-family: 'Futura PT';
  src: url("/fonts/Futura PT/FuturaPTDemi.otf");
  font-weight: 600; }

:root {
  --black: #000;
  --white: #fff;
  --primary: #f13544;
  --gray-200: #fafafa;
  --gray-300: #f1f1f1;
  --gray-400: #e5e5e5;
  --gray-500: #838383;
  --gray-600: #666666;
  --facebook: #3a5999; }

/* utilities */
.relative {
  position: relative; }

.flex {
  display: flex; }

.flex-wrap {
  flex-wrap: wrap; }

.mx-auto {
  margin-left: auto;
  margin-right: auto; }

.text-center {
  text-align: center; }

/* global */
* {
  box-sizing: border-box;
  font-family: 'Futura PT', sans-serif; }

body {
  font-family: 'Futura PT', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 350; }

a, button {
  color: inherit;
  text-decoration: none; }

.main-full {
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

.main-full main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; }

.logo {
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: .6; }

.logo-header {
  border-left: 1px solid #eee;
  margin-left: 20px;
  padding-left: 20px; }

.logo-footer {
  padding-top: 30px;
  margin-bottom: 30px; }

@media (min-width: 768px) {
  .logo-footer {
    padding-top: 60px;
    margin-bottom: 30px; } }

.logo span {
  color: #F13544; }

.headline {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 20px; }

.body-padding {
  padding-top: 110px; }

.body-padding-nav {
  padding-top: 80px; }

@media (min-width: 1024px) {
  .body-padding {
    padding-top: 140px; } }

.header-swiper {
  overflow: hidden;
  position: relative; }

@media (max-width: 767px) {
  .header-swiper {
    padding-bottom: 45px; } }

@media (min-width: 768px) {
  .hide-desktop {
    display: none; } }

@media (max-width: 767px) {
  .hide-mobile {
    display: none; } }

.tags {
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 8px; }

.text-primary {
  color: var(--primary); }

.error h1 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 10px; }

.error main {
  padding-top: 30px;
  padding-bottom: 30px; }

@media (min-width: 768px) {
  .error main {
    padding-top: 150px;
    padding-bottom: 150px; } }

.error main h2 {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 20px; }

@media (min-width: 768px) {
  .error main h2 {
    font-size: 70px; } }

.error main p {
  margin-bottom: 8px; }

.error main a {
  margin-top: 12px; }

.container {
  width: 100%;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto; }

@media (min-width: 640px) {
  .container {
    max-width: 640px; } }

@media (min-width: 768px) {
  .container {
    max-width: 768px; } }

@media (min-width: 1024px) {
  .container {
    max-width: 1024px; } }

@media (min-width: 1280px) {
  .container {
    max-width: 1130px; } }

.container-block-padding {
  padding-top: 30px;
  padding-bottom: 30px; }

@media (min-width: 768px) {
  .container-block-padding {
    padding-top: 60px;
    padding-bottom: 60px; } }

.container-block-padding-sm {
  padding-top: 25px;
  padding-bottom: 25px; }

@media (min-width: 768px) {
  .container-block-padding-sm {
    padding-top: 50px;
    padding-bottom: 50px; } }

.container-block.container-block-border-b {
  border-bottom: 1px solid #eee; }

.container-block h2 {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 30px; }

.container-block.categories {
  background: #FCF6F5; }

/* navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  height: 80px;
  border-bottom: 1px solid #eee;
  box-sizing: border-box;
  z-index: 50; }

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.navbar .menu-btn {
  display: flex;
  align-items: center;
  cursor: pointer; }

.navbar .menu-btn svg {
  stroke: currentColor; }

.navbar .logo {
  flex-grow: 1; }

.navbar nav {
  display: none; }

@media (min-width: 640px) {
  .navbar nav, .navbar .nav {
    display: flex;
    align-items: center; } }

.navbar nav, .navbar .nav.nav-links {
  height: 100%; }

.navbar ul {
  padding-inline-start: 0px; }

.navbar .nav li {
  list-style-type: none;
  transition: .3s color;
  text-transform: uppercase;
  font-weight: 600; }

.navbar .nav > li:hover {
  color: #f13544; }

.navbar .nav.nav-links {
  padding-right: 15px;
  display: none; }

@media (min-width: 1024px) {
  .navbar .nav.nav-links {
    display: flex; } }

.navbar .nav.nav-links > li {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 10px;
  height: 100%;
  display: flex;
  align-items: center; }

@media (min-width: 1280px) {
  .navbar .nav.nav-links > li {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 10px; } }

.navbar .nav.nav-links .fa-chevron-down {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  padding-left: 6px; }

.navbar .nav.nav-social {
  padding-left: 10px; }

@media (min-width: 1024px) {
  .navbar .nav.nav-social {
    border-left: 1px solid #eee; } }

.navbar .nav.nav-social li {
  padding-left: 10px;
  padding-right: 10px; }

.navbar .nav.nav-social li:last-child {
  border-left: 1px solid #eee;
  margin-left: 10px;
  padding-left: 20px; }

.nav .subnav {
  position: absolute;
  top: 100%;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  min-width: 280px;
  border-top: 3px solid #f13544;
  background: white;
  border-radius: 3px;
  padding-top: 12px;
  padding-bottom: 12px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
  transition: .3s opacity; }

.nav li:hover .subnav {
  opacity: 1;
  pointer-events: auto; }

.navbar .subnav li {
  color: black;
  font-weight: 500;
  font-size: 14px;
  transition: .3s color; }

.navbar .subnav a {
  display: block;
  padding: 12px 25px;
  transition: .3s padding; }

.navbar .subnav li:hover {
  color: #f13544; }

.navbar .subnav li:hover a {
  padding-left: 35px; }

.footer {
  width: 100%;
  background: var(--gray-200); }

.footer a {
  transition: .3s color; }

.footer a:hover {
  color: #f13544; }

.footer .footer-insta {
  text-align: center;
  padding: 40px 15px; }

.footer .footer-insta h2 {
  font-size: 15px;
  font-weight: 500;
  color: var(--gray-600);
  text-transform: uppercase;
  margin-bottom: 10px; }

.footer .footer-insta a {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center; }

.footer .footer-insta i {
  margin-right: 8px; }

.footer .footer-insta-photos {
  display: flex;
  flex-wrap: wrap; }

.footer .footer-insta-photos li {
  width: 50%;
  position: relative; }

@media (min-width: 640px) {
  .footer .footer-insta-photos li {
    width: 25%; } }

@media (min-width: 768px) {
  .footer .footer-insta-photos li {
    width: 16.666%; } }

.footer .footer-insta-photos img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.footer .footer-insta-photos .over {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .3s opacity; }

.footer .footer-insta-photos .over i {
  margin-right: 8px; }

.footer .footer-insta-photos .over .fa-comment {
  margin-left: 30px; }

.footer .footer-insta-photos li:hover .over {
  opacity: .75; }

.footer .footer-social {
  padding-bottom: 30px;
  margin-left: -15px;
  margin-right: -15px; }

@media (min-width: 768px) {
  .footer .footer-social {
    padding-bottom: 60px; } }

@media (max-width: 767px) {
  .footer .footer-social {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .footer .footer-social a:not(:last-child) {
    margin-bottom: 15px; } }

.footer .footer-social a i {
  margin-right: 8px; }

.footer .footer-social a {
  display: inline-flex;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px; }

.footer .copy {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 30px 15px;
  line-height: 1.5rem;
  text-align: center;
  background: var(--gray-300); }

.footer .copy .links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: space-between; }

.footer .copy .links ul {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  flex-direction: column;
  margin-top: 20px; }

@media (min-width: 768px) {
  .footer .copy .links {
    flex-direction: row; }
  .footer .copy .links ul {
    flex-direction: row;
    margin-top: 0; }
  .footer .copy .links ul li {
    margin-left: 20px; } }

.footer .newsletter {
  position: relative; }

.footer .newsletter .img-left {
  display: none;
  position: absolute;
  top: 30px;
  left: 0; }

.footer .newsletter .img-right {
  display: none;
  position: absolute;
  top: 60px;
  right: 0; }

@media (min-width: 1024px) {
  .footer .newsletter .img-left,
  .footer .newsletter .img-right {
    display: block; } }

.footer form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.footer input {
  font-family: 'Libre Baskerville', serif;
  width: 100%;
  border: 1px solid #e5e5e5;
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
  padding: 17px 20px; }

.footer form button {
  width: 100%;
  margin-top: 10px;
  white-space: nowrap; }

@media (min-width: 640px) {
  .footer form {
    flex-direction: row; }
  .footer form input {
    margin-right: 30px; }
  .footer form button {
    margin-top: 0;
    width: auto; } }

@media (min-width: 768px) {
  .footer input {
    width: 33.333%;
    padding: 17px 35px; } }

.btn-up {
  position: absolute;
  right: 15px;
  top: 0;
  transform: translateY(-50%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  width: 40px;
  height: 40px;
  box-shadow: 0px 0px 50px 0px rgba(10, 10, 10, 0.15); }

@media (min-width: 768px) {
  .btn-up {
    right: 70px;
    width: 50px;
    height: 50px; } }

::placeholder {
  color: black;
  opacity: 1; }

:-ms-input-placeholder {
  color: black; }

::-ms-input-placeholder {
  color: black; }

.sidebar .sidebar-socials ul {
  display: flex;
  margin-bottom: 30px; }

.sidebar .sidebar-socials li {
  margin-right: 16px;
  text-align: center;
  font-style: 13px; }

.sidebar .sidebar-socials li a {
  transition: .3s color; }

.sidebar .sidebar-socials li a:hover {
  color: #f13544; }

.sidebar .sidebar-socials i {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  font-size: 14px;
  transition: .3s border; }

.sidebar .sidebar-socials li a:hover i {
  border: 1px solid #f13544; }

.sidebar .banner {
  position: relative;
  margin-top: 30px; }

.sidebar .banner h2 {
  position: absolute;
  top: 30px;
  left: 30px;
  font-weight: 500; }

.sidebar-wrapper {
  display: flex; }

@media (min-width: 768px) {
  .sidebar-wrapper .posts {
    width: 100%; } }

@media (min-width: 1024px) {
  .sidebar-wrapper .posts {
    width: 75%;
    margin-right: 80px; } }

.sidebar-wrapper .sidebar {
  width: 25%;
  display: none; }

@media (min-width: 768px) {
  .sidebar-wrapper .sidebar {
    display: block;
    width: 40%; } }

@media (min-width: 1024px) {
  .sidebar-wrapper .sidebar {
    width: 25%; } }

@media (min-width: 768px) {
  .sidebar-wrapper.post-wrapper .sidebar {
    display: none; } }

@media (min-width: 1024px) {
  .sidebar-wrapper.post-wrapper .sidebar {
    display: block; } }

/* swiper */
.swiper-container {
  display: flex;
  position: relative;
  margin: 0 -30px;
  height: 300px; }

@media (min-width: 768px) {
  .swiper-container {
    height: 600px; } }

.swiper-btn {
  position: absolute;
  border-radius: 50%;
  border: 1px solid black;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s color, .3s border;
  background: none; }

@media (min-width: 768px) {
  .swiper-btn {
    color: white;
    border: 1px solid white;
    height: 50px;
    width: 50px;
    box-shadow: 0px 0px 50px 0px rgba(10, 10, 10, 0.15);
    background: rgba(10, 10, 10, 0.15); } }

.swiper-btn:hover {
  border: 1px solid #f13544;
  color: #f13544; }

.swiper-btn-prev {
  left: 0;
  top: 100%;
  transform: translate(20px, -100%); }

.swiper-btn-next {
  right: 0;
  top: 100%;
  transform: translate(-20px, -100%); }

@media (min-width: 768px) {
  .swiper-btn-prev {
    top: 50%;
    transform: translate(70px, -50%); }
  .swiper-btn-next {
    top: 50%;
    transform: translate(-70px, -50%); } }

.swiper-btn svg {
  fill: currentColor; }

.swiper-slide {
  padding-left: 30px;
  padding-right: 30px;
  flex-shrink: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.swiper-slide .card.card-over {
  height: 100%;
  overflow: hidden; }

/* card */
.card a {
  transition: .3s color; }

.card a:hover {
  color: #f13544; }

.card img {
  border-radius: 3px;
  display: block;
  width: 100%; }

.card h3 {
  font-family: 'Libre Baskerville', serif;
  line-height: 26px;
  font-weight: bold;
  margin-bottom: 8px; }

.card h2 a:hover, .card h3 a:hover {
  text-decoration: underline; }

.author, .bottom {
  text-transform: uppercase;
  font-size: 13px; }

.bottom {
  margin-top: 8px;
  color: #838383; }

.bottom time {
  margin-right: 12px; }

.bottom span {
  margin-left: 12px;
  margin-right: 12px; }

@media (max-width: 767px) {
  .card .bottom time {
    display: inline-block;
    margin-bottom: 6px; } }

/* card news */
.cards.cards-news {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-right: -15px;
  margin-left: -15px; }

@media (min-width: 768px) {
  .cards.cards-news {
    padding-bottom: 40px; } }

.cards.cards-news .pagination {
  display: none; }

@media (min-width: 768px) {
  .cards.cards-news .pagination {
    display: flex; } }

.card.card-news {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px; }

@media (max-width: 767px) {
  .card.card-news {
    margin-bottom: 30px; } }

@media (min-width: 640px) {
  .card.card-news {
    width: 50%; } }

@media (min-width: 768px) {
  .card.card-news {
    width: 33.333%; }
  .card.card-news:last-of-type {
    display: none; } }

@media (min-width: 1024px) {
  .card.card-news {
    width: 25%; }
  .card.card-news:last-of-type {
    display: block; } }

.card .tags {
  margin-top: 16px; }

@media (min-width: 1024px) {
  .card .tags {
    margin-top: auto; } }

.card.card-news .tags, .card.card-comments .tags, .card.card-small .tags {
  margin-top: 16px; }

/* card posts */
.card.card-horizontal {
  display: flex;
  flex-direction: column; }

@media (min-width: 640px) {
  .card.card-horizontal {
    width: 50%; } }

@media (min-width: 768px) {
  .card.card-horizontal {
    width: 100%; } }

@media (min-width: 1024px) {
  .card.card-horizontal {
    flex-direction: row;
    width: 100%; } }

@media (max-width: 767px) {
  .cards-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px; }
  .cards-list .card {
    padding: 15px; } }

@media (min-width: 768px) {
  .cards-list .card.card-horizontal:not(:last-child) {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #eeeeee; } }

@media (min-width: 1024px) {
  .card.card-horizontal .img-container {
    padding-right: 15px;
    width: 33.333%; } }

.card.card-horizontal .card-right {
  display: flex;
  flex-direction: column; }

@media (min-width: 1024px) {
  .card.card-horizontal .card-right {
    width: 60%;
    padding-left: 15px; } }

.card.card-horizontal .card-right p:last-of-type {
  flex: 1; }

.card.card-horizontal .more {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #f13544;
  margin-top: 16px; }

.card.card-horizontal .more:hover {
  text-decoration: underline; }

.cards-list .card.card-horizontal h3 {
  font-size: 22px;
  line-height: 35px; }

.card.card-horizontal-small h3 {
  font-size: 16px;
  line-height: 26px; }

.card.card-horizontal .desc {
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
  line-height: 24px; }

.cards-list .card.card-horizontal .bottom {
  margin-bottom: 8px; }

/* card sidebar post */
.card.card-sidebar-post {
  position: relative;
  display: flex;
  margin-bottom: 30px; }

.card.card-sidebar-post .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f13544;
  border-radius: 50%;
  border: 3px solid white;
  font-size: 10px;
  color: white;
  transform: translate(-50%, -50%); }

.card.card-sidebar-post .img-container {
  padding-right: 20px; }

.card.card-sidebar-post .tags {
  margin-bottom: 5px; }

.card.card-sidebar-post h3 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 5px; }

/* card sidebar instagram */
.cards.cards-instagram {
  margin: -10px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px; }

.cards.cards-instagram .card {
  padding: 10px;
  width: 50%; }

/* card over */
.card.card-over {
  min-height: 300px;
  position: relative; }

.card.card-over img {
  filter: brightness(50%);
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: #ddd;
  border-radius: 3px; }

.card.card-over .card-content {
  position: absolute;
  color: white;
  bottom: 0;
  left: 0;
  width: 100%; }

.card.card-over h2 {
  font-weight: bold;
  line-height: 26px;
  margin-top: 8px;
  font-family: 'Libre Baskerville', serif; }

@media (min-width: 768px) {
  .card.card-over h2 {
    font-size: 32px;
    line-height: 40px; } }

@media (min-width: 1024px) {
  .card.card-over h2 {
    width: 66.666%; } }

.card.card-over .bottom {
  color: white; }

.card.card-over time {
  margin-left: 30px;
  margin-right: 30px; }

/* card grid */
.cards-grid {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  padding-bottom: 30px; }

@media (min-width: 768px) {
  .cards-grid {
    padding-bottom: 60px; } }

.cards-grid .card {
  padding: 15px; }

.cards-grid .card.card-over {
  position: relative;
  width: 100%; }

.cards-grid .card.card-small {
  width: 100%; }

@media (min-width: 640px) {
  .cards-grid .card.card-over {
    width: 50%; }
  .cards-grid .card.card-small {
    width: 50%; } }

@media (min-width: 768px) {
  .cards-grid .card.card-small {
    width: 25%; } }

.cards-grid .card.card-over .card-content {
  padding: 30px; }

/* card swiper */
.swiper-slide .card.card-over .card-content {
  padding: 15px; }

@media (min-width: 768px) {
  .swiper-slide .card.card-over .card-content {
    padding: 50px; }
  .swiper-slide .card.card-over .bottom {
    margin-top: 25px; } }

.cards-grid .cards-list-small {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; }

@media (min-width: 1024px) {
  .cards-grid .cards-list-small {
    flex-direction: column; }
  .cards-grid .cards-list-small .card {
    padding: 0; }
  .cards-grid .cards-list-small .card:not(:last-child) {
    margin-bottom: 30px; } }

@media (min-width: 640px) and (max-width: 767px) {
  .cards-grid .cards-list-small .card.card-horizontal:last-child {
    display: none; } }

@media (max-width: 639px) {
  .cards-grid .cards-list-small .card.card-horizontal {
    width: 100%; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .cards-grid .cards-list-small .card.card-horizontal {
    width: 33.333%; } }

.latest {
  overflow: hidden; }

.latest .cards-grid.cards-right {
  width: 100%; }

@media (max-width: 1023px) {
  .latest .cards-grid.cards-right {
    margin: 0; } }

@media (min-width: 1024px) {
  .latest .cards-grid aside {
    padding: 15px;
    width: 33.333%; }
  .latest .cards-grid.cards-right {
    height: 100%;
    width: calc(66.666% + 30px);
    padding: 15px;
    padding-bottom: 0; }
  .latest .cards-grid .card-over {
    height: 100%; } }

/* pagination */
.pagination {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.pagination.pagination-dots {
  position: absolute;
  bottom: 0px;
  left: 0;
  margin-left: -4px;
  margin-right: -4px; }

.pagination-dots .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #c6c6c6;
  cursor: pointer;
  margin-left: 4px;
  margin-right: 4px;
  border: none;
  padding: 0;
  transition: .3s background; }

.pagination-dots .dot:hover {
  background: #878787; }

.pagination-dots .dot.dot-active {
  background: #484848;
  pointer-events: none; }

.pagination-dots.pagination-sidebar {
  bottom: 20px; }

.pagination-dots.pagination-sidebar .dot:hover {
  background: #e3e3e3; }

.pagination-dots.pagination-sidebar .dot.dot-active {
  background: white; }

.pagination.pagination-buttons a {
  height: 38px;
  width: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eeeeee;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
  transition: .3s all; }

.pagination.pagination-buttons a:hover {
  border-color: #f13544; }

.pagination.pagination-buttons a.active {
  pointer-events: none;
  background: #f13544;
  border-color: #f13544;
  color: white; }

.list-layout .pagination {
  margin-top: 30px; }

@media (min-width: 768px) {
  .list-layout .pagination {
    margin-top: 60px; } }

/* tabs */
.tabs {
  display: flex;
  margin-left: -5px;
  margin-right: -5px;
  flex-direction: column; }

@media (min-width: 768px) {
  .tabs {
    flex-direction: row; } }

.tab {
  white-space: nowrap;
  border-radius: 3px;
  padding: 14px 20px;
  background: none;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border: 0;
  margin-left: 5px;
  margin-right: 5px;
  color: #999999;
  transition: .3s color;
  cursor: pointer; }

@media (min-width: 1280px) {
  .tab {
    font-size: 16px; } }

.tab:hover {
  color: black; }

.tab.tab-active {
  pointer-events: none;
  background: #f0e6e4;
  color: black; }

.categories .tabs {
  margin-bottom: 30px; }

.tabs-content {
  padding-top: 30px;
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
  display: none;
  line-height: 1.625; }

.tabs-content.active {
  display: block; }

.btn {
  display: inline-block;
  padding: 17px 60px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  background: transparent;
  border: 1px solid black;
  border-radius: 3px;
  transition: .3s all;
  cursor: pointer;
  font-family: 'Futura PT', sans-serif;
  -webkit-font-smoothing: antialiased; }

.btn:hover {
  background: black;
  color: white; }

.btn-unstyled {
  background: none;
  border: none;
  padding: 0; }

.btn.btn-md {
  padding: 12px 30px; }

.btn.btn-md i {
  margin-right: 6px; }

.btn.btn-sm {
  line-height: 1;
  text-decoration: none;
  font-weight: 350;
  padding: 10px 20px; }

.btn.btn-sm i {
  margin-right: 4px; }

@media (min-width: 1280px) {
  .btn.btn-md {
    padding: 12px 45px; }
  .btn.btn-sm {
    padding: 10px 30px; } }

.btn.btn-sq {
  line-height: 1;
  text-decoration: none;
  padding: 12px 14px;
  font-weight: 350; }

.btn.btn-circ {
  line-height: 1;
  text-decoration: none;
  padding: 12px;
  font-weight: 350;
  border-radius: 50%; }

.btn.btn-dark {
  background: black;
  color: white; }

.btn.btn-dark:hover {
  background: transparent;
  color: black; }

.btn.btn-gray {
  border-color: var(--gray-300);
  color: var(--gray-500); }

.btn.btn-gray:hover {
  background-color: var(--gray-300); }

.btn.btn-gray-full {
  background-color: var(--gray-300);
  border-color: var(--gray-300); }

.btn.btn-gray-full:hover {
  background-color: var(--black);
  border-color: var(--black); }

.btn.btn-primary {
  border-color: var(--primary);
  color: var(--primary); }

.btn.btn-primary:hover {
  background-color: var(--primary);
  color: var(--white); }

.btn.btn-primary-full {
  border-color: var(--primary);
  background-color: var(--primary);
  color: var(--white); }

.btn.btn-primary-full:hover {
  border-color: var(--black);
  background-color: var(--black); }

.btn.btn-facebook {
  background-color: var(--facebook);
  border-color: var(--facebook);
  color: var(--white); }

.btn.btn-facebook:hover {
  background-color: var(--black);
  border-color: var(--black); }

.btn-tooltip {
  position: relative;
  padding: 10px 30px;
  text-transform: none;
  font-family: 'Libre Baskerville', serif;
  font-weight: normal; }

.btn-tooltip span {
  pointer-events: none;
  opacity: 0;
  position: absolute;
  background: var(--black);
  color: white;
  font-size: 13px;
  padding: 5px 10px;
  border-radius: 3px;
  transition: .3s opacity; }

.btn-tooltip.tooltip-top span {
  left: 50%;
  top: -12px;
  transform: translate(-50%, -100%); }

.btn-tooltip.tooltip-bottom span {
  left: 50%;
  bottom: -12px;
  transform: translate(-50%, 100%); }

.btn-tooltip.tooltip-left span {
  left: -12px;
  top: 50%;
  transform: translate(-100%, -50%); }

.btn-tooltip.tooltip-right span {
  right: -12px;
  top: 50%;
  transform: translate(100%, -50%); }

.btn-tooltip:hover span {
  opacity: 1; }

.btn-tooltip span:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 3px 5.2px 3px;
  border-color: transparent transparent var(--black) transparent; }

.btn-tooltip.tooltip-top span:before {
  left: 50%;
  bottom: 1px;
  transform: translate(-50%, 100%) rotate(180deg); }

.btn-tooltip.tooltip-bottom span:before {
  left: 50%;
  top: 1px;
  transform: translate(-50%, -100%); }

.btn-tooltip.tooltip-left span:before {
  right: 1px;
  top: 50%;
  transform: translate(100%, -50%) rotate(90deg); }

.btn-tooltip.tooltip-right span:before {
  left: 1px;
  top: 50%;
  transform: translate(-100%, -50%) rotate(-90deg); }

.tag {
  display: inline-block;
  border-radius: 3px;
  font-size: 14px;
  background: white;
  text-transform: uppercase;
  padding: 8px 10px;
  color: black; }

.more svg {
  fill: currentColor;
  margin-left: 10px; }

.btn-cross {
  width: 14px; }

.post {
  width: 100%; }

.post img {
  max-width: 100%; }

.post h1 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 600;
  margin: 16px 0;
  line-height: 1.333;
  font-size: 22px; }

@media (min-width: 768px) {
  .post h1 {
    font-size: 30px; } }

.post .bottom {
  line-height: 1.666; }

.post h2, .post h3 {
  text-transform: uppercase;
  font-weight: 600; }

article h2, article h3 {
  font-size: 18px; }

section h2 {
  font-size: 20px; }

.post > h2 {
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px; }

@media (min-width: 768px) {
  .post > h2 {
    margin-bottom: 25px; } }

.post .cover {
  width: 100%;
  margin: 20px 0; }

.post p:not([class]), .post ol, .post ul {
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  line-height: 1.625; }

.post > p:not([class]) {
  margin-bottom: 30px; }

@media (min-width: 768px) {
  .post > p:not([class]) {
    margin-bottom: 40px; } }

.post strong {
  font-weight: bold; }

.post em {
  font-style: italic; }

.post p:not([class]) a, .post ul a, .post ol a {
  color: var(--primary);
  font-weight: bold;
  text-decoration: underline; }

.post a:hover {
  text-decoration: none; }

.post ul, .post ol {
  margin-bottom: 20px;
  padding-left: 1rem; }

@media (min-width: 768px) {
  .post ul, .post ol {
    margin-bottom: 30px;
    line-height: 2.813; } }

.post ul {
  list-style-type: disc; }

.post ol {
  list-style: decimal; }

.post li {
  padding-left: 6px; }

blockquote {
  border-left: 4px solid var(--primary);
  padding: 30px 0 20px 30px;
  position: relative;
  margin-bottom: 20px; }

@media (min-width: 768px) {
  blockquote {
    margin-bottom: 30px; } }

blockquote:before {
  font-family: 'Libre Baskerville', serif;
  content: "“";
  font-weight: 900;
  font-size: 120px;
  color: var(--gray-300);
  z-index: -1;
  display: inline-block;
  position: absolute;
  top: 8px;
  left: 16px; }

blockquote footer {
  color: var(--gray-500);
  display: flex;
  align-items: center;
  margin-top: 16px;
  text-transform: uppercase; }

blockquote footer:before {
  content: "";
  display: inline-block;
  background: var(--gray-500);
  width: 20px;
  height: 2px;
  margin-right: 10px; }

figure {
  margin-bottom: 30px; }

figure img {
  display: block;
  margin: 0 auto; }

figure figcaption {
  margin-top: 16px;
  text-align: center;
  color: var(--gray-500); }

@media (min-width: 768px) {
  .post aside.left {
    float: left;
    padding-right: 30px; } }

.post .buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 22px; }

.post .buttons a {
  margin-right: 8px;
  margin-bottom: 8px; }

.post .buttons button {
  margin-bottom: 8px; }

@media (min-width: 768px) {
  .post .buttons form {
    flex: 1;
    text-align: right; } }

.post .share {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 30px 0 22px 0;
  border-top: 1px solid var(--gray-300);
  border-bottom: 1px solid var(--gray-300); }

.post .share h2 {
  width: 100%;
  margin-bottom: 25px; }

.post .share .left {
  font-size: 22px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 16px; }

@media (min-width: 768px) {
  .post .share .left {
    flex: 1;
    width: auto;
    margin-bottom: 0; } }

.post .share .left span {
  text-transform: uppercase;
  color: var(--gray-500);
  font-size: 14px;
  margin-left: 8px; }

.post .share .btn {
  margin-bottom: 8px; }

.post .share .btn:not(:last-of-type) {
  margin-right: 8px; }

.about-author {
  padding: 30px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap; }

@media (min-width: 768px) {
  .about-author {
    flex-wrap: nowrap; } }

.about-author img {
  border-radius: 50%;
  margin-bottom: 20px; }

@media (min-width: 768px) {
  .about-author img {
    margin-right: 25px; } }

.about-author p {
  font-size: 14px;
  color: var(--gray-600); }

.about-author p:first-of-type {
  margin: 15px 0 10px 0; }

.about-author .socials a {
  color: inherit;
  text-decoration: none;
  margin-right: 20px;
  transition: .3s color; }

.about-author p a:hover {
  color: var(--black); }

.post-newsletter {
  padding: 40px 20px;
  border: 2px solid var(--gray-300);
  border-radius: 3px; }

.post-newsletter form {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.post-newsletter input {
  font-family: 'Libre Baskerville', serif;
  width: 100%;
  border: 1px solid var(--gray-400);
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
  padding: 10px 20px; }

.post-newsletter form button {
  width: 100%;
  margin-top: 10px;
  white-space: nowrap; }

@media (min-width: 640px) {
  .post-newsletter form {
    flex-direction: row; }
  .post-newsletter form input {
    margin-right: 20px; }
  .post-newsletter form button {
    margin-top: 0;
    width: auto; } }

@media (min-width: 768px) {
  .post-newsletter input {
    width: 50%;
    padding: 12px 20px; } }

.post-newsletter h2, .post-newsletter p {
  text-align: center; }

.post-newsletter p {
  font-size: 14px;
  margin-top: 16px; }

.post-newsletter p:last-of-type {
  color: var(--gray-600); }

.post-cards h2 {
  padding: 30px 0 15px 0; }

@media (min-width: 768px) {
  .post-cards h2 {
    padding: 60px 0 30px 0; } }

@media (min-width: 640px) {
  .post .card.card-news {
    width: 50%; } }

@media (min-width: 768px) {
  .post .card.card-news:last-of-type {
    display: block; } }

.switcher {
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; }

.switcher svg {
  fill: currentColor; }

.switcher a {
  margin-bottom: 30px;
  display: flex;
  align-items: center; }

.switcher a:last-child {
  text-align: right; }

.switcher h4 {
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
  font-weight: 600;
  margin-top: 8px;
  margin-bottom: 0; }

.switcher div {
  margin: 0 20px; }

.switcher span {
  display: block;
  color: var(--gray-600);
  text-transform: uppercase; }

@media (min-width: 1024px) {
  .post.typography {
    width: 66.666%;
    margin: 0 auto; } }

.post .h-1, .h-2, .h-3, .h-4, .h-5, .h-6 {
  font-weight: 600;
  margin-bottom: 20px; }

@media (min-width: 768px) {
  .post .h-1, .h-2, .h-3, .h-4, .h-5, .h-6 {
    margin-bottom: 25px; } }

.post .h-1 {
  font-size: 30px; }

.post .h-2 {
  font-size: 26px; }

.post .h-3 {
  font-size: 22px; }

.post .h-4 {
  font-size: 20px; }

.post .h-5 {
  font-size: 18px; }

.post .h-6 {
  font-size: 16px; }

.post .comments {
  padding: 30px 0 15px 0;
  border-top: 1px solid var(--gray-300);
  border-bottom: 1px solid var(--gray-300); }

@media (min-width: 768px) {
  .post .comments {
    margin-top: 60px;
    padding: 60px 0 30px 0; } }

.comment {
  display: flex;
  align-items: center;
  padding: 30px 0;
  flex-wrap: wrap; }

@media (min-width: 768px) {
  .comment {
    flex-wrap: nowrap; } }

.post .comment:not(:last-of-type) {
  border-bottom: 1px solid var(--gray-300); }

.comment img {
  border-radius: 50%;
  margin-right: 16px;
  margin-bottom: 16px; }

@media (min-width: 768px) {
  .comment img {
    margin-bottom: 0; } }

.comment time {
  text-transform: uppercase; }

.comment p, .comment time {
  color: var(--gray-600);
  font-size: 14px; }

.comment a {
  display: block;
  margin-top: 12px;
  text-transform: uppercase;
  color: var(--primary);
  font-weight: 600; }

.comment .comment-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px; }

.form-comment {
  padding: 30px 0; }

@media (min-width: 768px) {
  .form-comment {
    padding: 60px 0; } }

.form-comment .form button[type=submit] {
  width: 100%; }

@media (min-width: 768px) {
  .form-comment .form button[type=submit] {
    width: auto; } }

.form-comment .checkbox {
  margin-bottom: 30px; }

.form {
  margin: 16px -12px 0 -12px;
  display: flex;
  flex-wrap: wrap; }

.form input, .form textarea {
  border: 1px solid var(--gray-400);
  width: 100%; }

.form label:not(.checkbox):not(.switch):not(.radio) span, .form h3 {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 16px;
  font-weight: 600; }

.form label, .form article {
  width: 100%;
  margin-bottom: 24px;
  padding: 0 12px; }

@media (min-width: 768px) {
  .form .w-half {
    width: 50%; }
  .form .w-third {
    width: 33.333%; } }

.form .select {
  line-height: 1.333;
  position: relative; }

.form select {
  appearance: none;
  position: relative; }

.form .select:after,
.form select:not(.multiple):after {
  color: var(--gray-600);
  content: "▼";
  font-size: 8px;
  pointer-events: none;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%); }

.form input:not([type=range]), .form select, .form .select, .form textarea {
  font-family: 'Libre Baskerville', serif;
  width: 100%;
  border: 1px solid var(--gray-400);
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
  padding: 10px 12px;
  resize: none; }

.form button[type=submit] {
  width: 100%;
  margin: 0 12px; }

.form .form-section {
  display: flex;
  flex-wrap: wrap; }

.checkbox, .switch, .radio {
  display: flex;
  align-items: center;
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
  color: var(--gray-600);
  cursor: pointer; }

.form-section label.radio, .form-section label.checkbox, .form-section label.switch {
  padding: 0;
  margin-bottom: 10px;
  color: var(--black); }

.checkbox input, .switch input, .radio input {
  width: auto;
  display: none; }

.checkbox .checkmark,
.switch .checkmark,
.radio .checkmark {
  font-family: 'Futura PT', sans-serif;
  height: 16px;
  border: 1px solid var(--gray-400);
  margin-right: 10px;
  position: relative;
  transition: .3s border, .3s background; }

.checkbox .checkmark {
  min-width: 16px;
  width: 16px;
  border-radius: 3px; }

.switch .checkmark {
  min-width: 32px;
  width: 32px;
  border-radius: 3rem; }

.radio .checkmark {
  min-width: 16px;
  width: 16px;
  border-radius: 50%; }

.checkbox:hover .checkmark,
.switch:hover .checkmark,
.radio:hover .checkmark {
  border: 1px solid var(--primary); }

.checkbox input:checked + span,
.switch input:checked + span,
.radio input:checked + span {
  background: var(--primary);
  border: 1px solid var(--primary); }

.checkbox input:checked + span:after,
.radio input:checked + span:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  height: 8px;
  width: 4px;
  margin-top: -1px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--white);
  border-right: 1px solid var(--white); }

.switch input + span:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: var(--gray-400);
  transition: .3s all; }

.switch input:checked + span:after {
  content: "";
  transform: translate(15px, -50%);
  background: var(--white); }

.range {
  position: relative;
  height: 24px; }

.range + p {
  margin-top: 16px;
  text-align: center; }

.range input {
  left: 0;
  top: 0;
  position: absolute; }

input[type=range] {
  -webkit-appearance: none;
  width: 80%;
  background: var(--primary);
  border: none;
  height: 5px; }

input[type=range]:focus {
  outline: none; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  z-index: 2;
  border: 1px solid #000000;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  /* Add cool effects to your sliders! */ }

.select + .multiple {
  margin-top: 8px;
  min-height: 160px; }

.multiple option {
  display: flex;
  align-items: center;
  position: relative;
  font-family: 'Libre Baskerville', serif;
  font-size: 14px; }

.multiple option:not(:last-child) {
  margin-bottom: 10px; }

.multiple option:before {
  content: "";
  display: block;
  height: 16px;
  margin-right: 10px;
  min-width: 16px;
  width: 16px;
  border: 1px solid var(--gray-400);
  border-radius: 3px;
  transition: .3s border, .3s background; }

.multiple option:after {
  content: "";
  opacity: 0;
  display: block;
  position: absolute;
  top: 50%;
  left: 11px;
  transform: translate(-50%, -50%) rotate(45deg);
  height: 8px;
  width: 4px;
  margin-top: -1px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--white);
  border-right: 1px solid var(--white); }

.multiple option:checked {
  background: var(--white) linear-gradient(0deg, var(--white) 0%, var(--white) 100%); }

.multiple option:checked:before {
  background: var(--primary);
  border: 1px solid var(--primary); }

.multiple option:checked:after {
  opacity: 1; }

.elements .form {
  padding-bottom: 30px; }

@media (min-width: 768px) {
  .elements .form {
    padding-bottom: 60px; } }

.accordion:not(:last-child) {
  margin-bottom: 16px; }

.accordion button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--gray-400);
  font-weight: 600;
  padding: 8px 10px;
  text-align: left; }

.accordion button h3 {
  font-size: 14px;
  padding-right: 8px; }

@media (min-width: 768px) {
  .accordion button {
    padding: 14px 20px; }
  .accordion button h3 {
    font-size: 16px; } }

.accordion footer {
  display: none; }

.accordion footer p {
  margin-top: 16px; }

.accordion.open button {
  color: var(--primary); }

.accordion.open button i {
  transform: rotate(180deg); }

.accordion.open footer {
  display: block; }

.hero {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative; }

@media (min-width: 768px) {
  .hero {
    height: 450px; } }

.hero:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--black);
  opacity: .5; }

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%; }

.hero h1 {
  color: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Libre Baskerville', serif;
  font-size: 28px; }

@media (min-width: 768px) {
  .hero h1 {
    top: 40%;
    font-size: 40px; } }

.addresses {
  background: var(--white);
  display: flex;
  align-items: stretch;
  flex-direction: column;
  margin-bottom: 30px; }

@media (min-width: 768px) {
  .addresses {
    margin-bottom: 0px;
    transform: translateY(-115px);
    padding: 30px 10px;
    border-radius: 3px;
    box-shadow: 0 0 50px 0px rgba(10, 10, 10, 0.15);
    flex-direction: row; } }

@media (min-width: 1024px) and (min-width: 768px) {
  padding: 50px 30px; }

.addresses article {
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }

.addresses article:nth-child(2) {
  border-top: 1px solid var(--gray-400);
  border-bottom: 1px solid var(--gray-400); }

@media (min-width: 768px) {
  .addresses article {
    padding: 0;
    width: 33.333%; }
  .addresses article:nth-child(2) {
    border: 0;
    border-right: 1px solid var(--gray-400);
    border-left: 1px solid var(--gray-400); } }

.addresses article img {
  margin-bottom: 8px; }

.addresses article:nth-child(1) img, .addresses article:nth-child(2) img {
  margin-bottom: 20px; }

.addresses article:nth-child(3) img {
  margin-bottom: 28px; }

.addresses article h2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 8px; }

.addresses article p {
  line-height: 1.333; }

.addresses address {
  margin-top: 4px;
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
  line-height: 1.666;
  padding: 0 10px; }

.addresses address p {
  line-height: 1.666; }

.contact-form {
  padding-bottom: 30px; }

@media (min-width: 768px) {
  .contact-form {
    padding-bottom: 80px; } }

@media (min-width: 1024px) {
  .contact-form {
    width: 66.666%;
    margin: 0 auto; } }

.contact-form h2 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 35px; }

.map-wrapper {
  overflow: hidden;
  width: 100%;
  margin-bottom: -3px; }

.map {
  margin-top: -60px;
  height: 300px; }

@media (min-width: 768px) {
  .map {
    height: 600px; } }

.elements h2 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase; }

.elements .container {
  display: flex;
  flex-wrap: wrap; }

.w-full, .w-half, .w-third {
  width: 100%; }

.elements section {
  margin-bottom: 30px; }

@media (min-width: 768px) {
  .elements section {
    margin-bottom: 60px; } }

@media (min-width: 1024px) {
  .elements section.w-half:nth-child(odd) {
    padding-right: 15px; }
  .elements section.w-half:nth-child(even) {
    padding-left: 15px; }
  .w-half {
    width: 50%; }
  .w-third {
    width: 33.333%; } }

.message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px; }

.message:not(:last-child) {
  margin-bottom: 16px; }

.message.message-error {
  background: #ffe9e9;
  color: #de5858; }

.message.message-success {
  background: #ebf6e0;
  color: #5f9025; }

.message.message-warning {
  background: #fbfadd;
  color: #bdba59; }

.message.message-info {
  background: #e9f7fe;
  color: #3184ae; }

table {
  width: 100%;
  border: 1px solid var(--gray-400); }

table tr td {
  padding: 12px 16px; }

table tr td:first-child {
  width: 35%; }

table tr td:nth-child(2) {
  color: var(--gray-600); }

table tr:not(:last-child) td {
  border-bottom: 1px solid var(--gray-400); }

.elements .buttons .btn {
  margin-bottom: 8px;
  margin-right: 20px; }

.elements .tooltips .btn {
  margin-bottom: 8px; }

.heading {
  background: var(--gray-200);
  padding: 20px 0;
  margin-bottom: 20px; }

@media (min-width: 768px) {
  .heading {
    padding: 35px 0;
    margin-bottom: 50px; } }

.heading article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column-reverse; }

@media (min-width: 768px) {
  .heading article {
    flex-direction: row; } }

.heading nav ul {
  display: flex;
  align-items: center; }

.heading h1 {
  position: relative;
  font-size: 30px;
  font-weight: 600;
  z-index: 1; }

@media (min-width: 768px) {
  .heading h1::before {
    position: absolute;
    z-index: -1;
    top: 30%;
    left: -5px;
    transform: translateY(-50%);
    font-size: 80px;
    font-weight: 600;
    content: attr(data-before);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--gray-400); } }

.breadcrumbs {
  display: flex;
  align-items: center;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 16px; }

@media (min-width: 768px) {
  .breadcrumbs {
    margin-bottom: 0; } }

.breadcrumbs a {
  transition: .3s color; }

.breadcrumbs a:first-child {
  color: var(--primary); }

.breadcrumbs a:hover {
  color: var(--primary); }

.breadcrumbs i {
  font-size: 10px;
  margin: 0 8px; }
