/* fonts */

@font-face {
    font-family: 'Libre Baskerville';
    src: url('/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('/fonts/Libre_Baskerville/LibreBaskerville-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('/fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Futura PT';
    src: url('/fonts/Futura PT/FuturaPTBook.otf');
    font-weight: 350;
}

@font-face {
    font-family: 'Futura PT';
    src: url('/fonts/Futura PT/FuturaPTMedium.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'Futura PT';
    src: url('/fonts/Futura PT/FuturaPTDemi.otf');
    font-weight: 600;
}
