/* global */

* {
    box-sizing: border-box;
    font-family: 'Futura PT', sans-serif;
}

body {
    font-family: 'Futura PT', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 350;
}

a, button {
    color: inherit;
    text-decoration: none;
}

.main-full {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.main-full main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.logo {
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: .6;
}
.logo-header {
    border-left: 1px solid #eee;
    margin-left: 20px;
    padding-left: 20px;
}
.logo-footer {
    padding-top: 30px;
    margin-bottom: 30px;
}
@media (min-width: 768px) {
    .logo-footer {
        padding-top: 60px;
        margin-bottom: 30px;
    }
}
.logo span {
    color: #F13544;
}

.headline {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 20px;
}

.body-padding {
    padding-top: 110px;
}
.body-padding-nav {
    padding-top: 80px;
}
@media (min-width: 1024px) {
    .body-padding {
        padding-top: 140px;
    }
}
.header-swiper {
    overflow: hidden;
    position: relative;
}
@media (max-width: 767px) {
    .header-swiper {
        padding-bottom: 45px;
    }
}

@media (min-width: 768px) {
    .hide-desktop {
        display: none;
    }
}
@media (max-width: 767px) {
    .hide-mobile {
        display: none;
    }
}

.tags {
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 8px;
}
.text-primary {
    color: var(--primary);
}

.error h1 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
}
.error main {
    padding-top: 30px;
    padding-bottom: 30px;
}
@media (min-width: 768px) {
    .error main {
        padding-top: 150px;
        padding-bottom: 150px;
    }
}
.error main h2 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}
@media (min-width: 768px) {
    .error main h2 {
        font-size: 70px;
    }
}
.error main p {
    margin-bottom: 8px;
}
.error main a {
    margin-top: 12px;
}