:root {
    --black: #000;
    --white: #fff;
    --primary: #f13544;

    --gray-200: #fafafa;
    --gray-300: #f1f1f1;
    --gray-400: #e5e5e5;
    --gray-500: #838383;
    --gray-600: #666666;

    --facebook: #3a5999;
}