.btn {
    display: inline-block;
    padding: 17px 60px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    background: transparent;
    border: 1px solid black;
    border-radius: 3px;
    transition: .3s all;
    cursor: pointer;
    font-family: 'Futura PT', sans-serif;
    -webkit-font-smoothing: antialiased;
}
.btn:hover {
    background: black;
    color: white;
}
.btn-unstyled {
    background: none;
    border: none;
    padding: 0;
}
.btn.btn-md {
    padding: 12px 30px;
}
.btn.btn-md i {
    margin-right: 6px;
}
.btn.btn-sm {
    line-height: 1;
    text-decoration: none;
    font-weight: 350;
    padding: 10px 20px;
}
.btn.btn-sm i {
    margin-right: 4px;
}
@media (min-width: 1280px) {
    .btn.btn-md {
        padding: 12px 45px;
    }
    .btn.btn-sm {
        padding: 10px 30px;
    }
}
.btn.btn-sq {
    line-height: 1;
    text-decoration: none;
    padding: 12px 14px;
    font-weight: 350;
}
.btn.btn-circ {
    line-height: 1;
    text-decoration: none;
    padding: 12px;
    font-weight: 350;
    border-radius: 50%;
}
.btn.btn-dark {
    background: black;
    color: white;
}
.btn.btn-dark:hover {
    background: transparent;
    color: black;
}
.btn.btn-gray {
    border-color: var(--gray-300);
    color: var(--gray-500);
}
.btn.btn-gray:hover {
    background-color: var(--gray-300);
}
.btn.btn-gray-full {
    background-color: var(--gray-300);
    border-color: var(--gray-300);
}
.btn.btn-gray-full:hover {
    background-color: var(--black);
    border-color: var(--black);
}
.btn.btn-primary {
    border-color: var(--primary);
    color: var(--primary);
}
.btn.btn-primary:hover {
    background-color: var(--primary);
    color: var(--white);
}
.btn.btn-primary-full {
    border-color: var(--primary);
    background-color: var(--primary);
    color: var(--white);
}
.btn.btn-primary-full:hover {
    border-color: var(--black);
    background-color: var(--black);
}
.btn.btn-facebook {
    background-color: var(--facebook);
    border-color: var(--facebook);
    color: var(--white);
}
.btn.btn-facebook:hover {
    background-color: var(--black);
    border-color: var(--black);
}
.btn-tooltip {
    position: relative;
    padding: 10px 30px;
    text-transform: none;
    font-family: 'Libre Baskerville', serif;
    font-weight: normal;
}
.btn-tooltip span {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    background: var(--black);
    color: white;
    font-size: 13px;
    padding: 5px 10px;
    border-radius: 3px;
    transition: .3s opacity;
}
.btn-tooltip.tooltip-top span {
    left: 50%;
    top: -12px;
    transform: translate(-50%, -100%);
}
.btn-tooltip.tooltip-bottom span {
    left: 50%;
    bottom: -12px;
    transform: translate(-50%, 100%);
}
.btn-tooltip.tooltip-left span {
    left: -12px;
    top: 50%;
    transform: translate(-100%, -50%);
}
.btn-tooltip.tooltip-right span {
    right: -12px;
    top: 50%;
    transform: translate(100%, -50%);
}
.btn-tooltip:hover span {
    opacity: 1;
}
.btn-tooltip span:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 3px 5.2px 3px;
    border-color: transparent transparent var(--black) transparent;
}
.btn-tooltip.tooltip-top span:before {
    left: 50%;
    bottom: 1px;
    transform: translate(-50%, 100%) rotate(180deg);
}
.btn-tooltip.tooltip-bottom span:before {
    left: 50%;
    top: 1px;
    transform: translate(-50%, -100%);
}
.btn-tooltip.tooltip-left span:before {
    right: 1px;
    top: 50%;
    transform: translate(100%, -50%) rotate(90deg);
}
.btn-tooltip.tooltip-right span:before {
    left: 1px;
    top: 50%;
    transform: translate(-100%, -50%) rotate(-90deg);
}

.tag {
    display: inline-block;
    border-radius: 3px;
    font-size: 14px;
    background: white;
    text-transform: uppercase;
    padding: 8px 10px;
    color: black;
}

.more svg {
    fill: currentColor;
    margin-left: 10px;
}

.btn-cross {
    width: 14px;
}