.hero {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
}
@media (min-width: 768px) {
    .hero {
        height: 450px;
    }
}
.hero:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--black);
    opacity: .5;
}
.hero img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.hero h1 {
    color: var(--white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Libre Baskerville', serif;
    font-size: 28px;
}
@media (min-width: 768px) {
    .hero h1 {
        top: 40%;
        font-size: 40px;
    }
}

.addresses {
    background: var(--white);
    display: flex;
    align-items: stretch;
    flex-direction: column;
    margin-bottom: 30px;
}
@media (min-width: 768px) {
    .addresses {
        margin-bottom: 0px;
        transform: translateY(-115px);
        padding: 30px 10px;
        border-radius: 3px;
        box-shadow: 0 0 50px 0px rgba(10, 10, 10, .15);
        flex-direction: row;
    }
}
@media (min-width: 1024px) {
    @media (min-width: 768px) {
        padding: 50px 30px;
    }
}
.addresses article {
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.addresses article:nth-child(2) {
    border-top: 1px solid var(--gray-400);
    border-bottom: 1px solid var(--gray-400);
}
@media (min-width: 768px) {
    .addresses article {
        padding: 0;
        width: 33.333%;
    }
    .addresses article:nth-child(2) {
        border: 0;
        border-right: 1px solid var(--gray-400);
        border-left: 1px solid var(--gray-400);
    }
}
.addresses article img {
    margin-bottom: 8px;
}
.addresses article:nth-child(1) img, .addresses article:nth-child(2) img {
    margin-bottom: 20px;
}
.addresses article:nth-child(3) img {
    margin-bottom: 28px;
}
.addresses article h2 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 8px;
}
.addresses article p {
    line-height: 1.333;
}
.addresses address {
    margin-top: 4px;
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
    line-height: 1.666;
    padding: 0 10px;
}
.addresses address p {
    line-height: 1.666;
}


.contact-form {
    padding-bottom: 30px;
}
@media (min-width: 768px) {
    .contact-form {
        padding-bottom: 80px;
    }
}
@media (min-width: 1024px) {
    .contact-form {
        width: 66.666%;
        margin: 0 auto;
    }
}
.contact-form h2 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 35px;
}

.map-wrapper {
    overflow: hidden;
    width: 100%;
    margin-bottom: -3px;
}
.map {
    margin-top: -60px;
    height: 300px;
}
@media (min-width: 768px) {
    .map {
        height: 600px;
    }
}