.footer {
    width: 100%;
    background: var(--gray-200);
}
.footer a {
    transition: .3s color;
}
.footer a:hover {
    color: #f13544;
}
.footer .footer-insta {
    text-align: center;
    padding: 40px 15px;
}
.footer .footer-insta h2 {
    font-size: 15px;
    font-weight: 500;
    color: var(--gray-600);
    text-transform: uppercase;
    margin-bottom: 10px;
}
.footer .footer-insta a {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer .footer-insta i {
    margin-right: 8px;
}

.footer .footer-insta-photos {
    display: flex;
    flex-wrap: wrap;
}
.footer .footer-insta-photos li {
    width: 50%;
    position: relative;
}
@media (min-width: 640px) {
    .footer .footer-insta-photos li {
        width: 25%;
    }
}
@media (min-width: 768px) {
    .footer .footer-insta-photos li {
        width: 16.666%;
    }
}
.footer .footer-insta-photos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer .footer-insta-photos .over {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .3s opacity;
}
.footer .footer-insta-photos .over i {
    margin-right: 8px;
}
.footer .footer-insta-photos .over .fa-comment {
    margin-left: 30px;
}
.footer .footer-insta-photos li:hover .over {
    opacity: .75;
}

.footer .footer-social {
    padding-bottom: 30px;
    margin-left: -15px;
    margin-right: -15px;
}
@media (min-width: 768px) {
    .footer .footer-social {
        padding-bottom: 60px;
    }
}
@media (max-width: 767px) {
    .footer .footer-social {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer .footer-social a:not(:last-child) {
        margin-bottom: 15px;
    }
}
.footer .footer-social a i {
    margin-right: 8px;
}
.footer .footer-social a {
    display: inline-flex;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
}

.footer .copy {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px 15px;
    line-height: 1.5rem;
    text-align: center;
    background: var(--gray-300);
}
.footer .copy .links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.footer .copy .links ul {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    flex-direction: column;
    margin-top: 20px;
}
@media (min-width: 768px) {
    .footer .copy .links {
        flex-direction: row;
    }
    .footer .copy .links ul {
        flex-direction: row;
        margin-top: 0;
    }
    .footer .copy .links ul li {
        margin-left: 20px;
    }
}

.footer .newsletter {
    position: relative;
}
.footer .newsletter .img-left {
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
}
.footer .newsletter .img-right {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
}
@media (min-width: 1024px) {
    .footer .newsletter .img-left,
    .footer .newsletter .img-right {
        display: block;
    }
}

.footer form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer input {
    font-family: 'Libre Baskerville', serif;
    width: 100%;
    border: 1px solid #e5e5e5;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    padding: 17px 20px;
}
.footer form button {
    width: 100%;
    margin-top: 10px;
    white-space: nowrap;
}
@media (min-width: 640px) {
    .footer form {
        flex-direction: row;
    }
    .footer form input {
        margin-right: 30px;
    }
    .footer form button {
        margin-top: 0;
        width: auto;
    }
}
@media (min-width: 768px) {
    .footer input {
        width: 33.333%;
        padding: 17px 35px;
    }
}
.btn-up {
    position: absolute;
    right: 15px;
    top: 0;
    transform: translateY(-50%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    width: 40px;
    height: 40px;
    box-shadow: 0px 0px 50px 0px rgba(10, 10, 10, 0.15);
}
@media (min-width: 768px) {
    .btn-up {
        right: 70px;
        width: 50px;
        height: 50px;
    }
}

::placeholder {
    color: black;
    opacity: 1;
}

:-ms-input-placeholder {
    color: black;
}

::-ms-input-placeholder {
    color: black;
}