.form {
    margin: 16px -12px 0 -12px;
    display: flex;
    flex-wrap: wrap;
}
.form input, .form textarea {
    border: 1px solid var(--gray-400);
    width: 100%;
}
.form label:not(.checkbox):not(.switch):not(.radio) span, .form h3 {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 16px;
    font-weight: 600;
}
.form label, .form article {
    width: 100%;
    margin-bottom: 24px;
    padding: 0 12px;
}
@media (min-width: 768px) {
    .form .w-half {
        width: 50%;
    }
    .form .w-third {
        width: 33.333%;
    }
}
.form .select {
    line-height: 1.333;
    position: relative;
}
.form select {
    appearance: none;
    position: relative;
}
.form .select:after,
.form select:not(.multiple):after {
    color: var(--gray-600);
    content: "▼";
    font-size: 8px;
    pointer-events: none;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.form input:not([type=range]), .form select, .form .select, .form textarea {
    font-family: 'Libre Baskerville', serif;
    width: 100%;
    border: 1px solid var(--gray-400);
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    padding: 10px 12px;
    resize: none;
}
.form button[type=submit] {
    width: 100%;
    margin: 0 12px;
}
.form .form-section {
    display: flex;
    flex-wrap: wrap;
}

.checkbox, .switch, .radio {
    display: flex;
    align-items: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
    color: var(--gray-600);
    cursor: pointer;
}
.form-section label.radio, .form-section label.checkbox, .form-section label.switch {
    padding: 0;
    margin-bottom: 10px;
    color: var(--black);
}
.checkbox input, .switch input, .radio input {
    width: auto;
    display: none;
}
.checkbox .checkmark,
.switch .checkmark,
.radio .checkmark {
    font-family: 'Futura PT', sans-serif;
    height: 16px;
    border: 1px solid var(--gray-400);
    margin-right: 10px;
    position: relative;
    transition: .3s border, .3s background;
}
.checkbox .checkmark {
    min-width: 16px;
    width: 16px;
    border-radius: 3px;
}
.switch .checkmark {
    min-width: 32px;
    width: 32px;
    border-radius: 3rem;
}
.radio .checkmark {
    min-width: 16px;
    width: 16px;
    border-radius: 50%;
}
.checkbox:hover .checkmark,
.switch:hover .checkmark,
.radio:hover .checkmark {
    border: 1px solid var(--primary);
}
.checkbox input:checked + span,
.switch input:checked + span,
.radio input:checked + span {
    background: var(--primary);
    border: 1px solid var(--primary);
}
.checkbox input:checked + span:after,
.radio input:checked + span:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    height: 8px;
    width: 4px;
    margin-top: -1px;
    box-sizing: border-box;
    border-bottom: 1px solid var(--white);
    border-right: 1px solid var(--white);
}
.switch input + span:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: var(--gray-400);
    transition: .3s all;
}
.switch input:checked + span:after {
    content: "";
    transform: translate(15px, -50%);
    background: var(--white);
}

.range {
    position: relative;
    height: 24px;
}
.range + p {
    margin-top: 16px;
    text-align: center;
}
.range input {
    left: 0;
    top: 0;
    position: absolute;
}
input[type=range] {
    -webkit-appearance: none;
    width: 80%;
    background: var(--primary);
    border: none;
    height: 5px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    z-index: 2;
    border: 1px solid #000000;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

.select + .multiple {
    margin-top: 8px;
    min-height: 160px
}
.multiple option {
    display: flex;
    align-items: center;
    position: relative;
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
}
.multiple option:not(:last-child) {
    margin-bottom: 10px;
}
.multiple option:before {
    content: "";
    display: block;
    // position: relative;
    height: 16px;
    margin-right: 10px;
    min-width: 16px;
    width: 16px;
    border: 1px solid var(--gray-400);
    border-radius: 3px;
    transition: .3s border, .3s background;
}
.multiple option:after {
    content: "";
    opacity: 0;
    display: block;
    position: absolute;
    top: 50%;
    left: 11px;
    transform: translate(-50%, -50%) rotate(45deg);
    height: 8px;
    width: 4px;
    margin-top: -1px;
    box-sizing: border-box;
    border-bottom: 1px solid var(--white);
    border-right: 1px solid var(--white);
}
.multiple option:checked {
    background: var(--white) linear-gradient(0deg, var(--white) 0%, var(--white) 100%);
}
.multiple option:checked:before {
    background: var(--primary);
    border: 1px solid var(--primary);
}
.multiple option:checked:after {
    opacity: 1;
}

.elements .form {
    padding-bottom: 30px;
}
@media (min-width: 768px) {
    .elements .form {
        padding-bottom: 60px;
    }
}