.heading {
    background: var(--gray-200);
    padding: 20px 0;
    margin-bottom: 20px;
}
@media (min-width: 768px) {
    .heading {
        padding: 35px 0;
        margin-bottom: 50px;
    }
}
.heading article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
}
@media (min-width: 768px) {
    .heading article {
        flex-direction: row;
    }
}
.heading nav ul {
    display: flex;
    align-items: center;
}
.heading h1 {
    position: relative;
    font-size: 30px;
    font-weight: 600;
    z-index: 1;
}
@media (min-width: 768px) {
    .heading h1::before{
        position: absolute;
        z-index: -1;
        top: 30%;
        left: -5px;
        transform: translateY(-50%);
        font-size: 80px;
        font-weight: 600;
        content: attr(data-before);
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px var(--gray-400);
    }
}

.breadcrumbs {
    display: flex;
    align-items: center;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 16px;
}
@media (min-width: 768px) {
    .breadcrumbs {
        margin-bottom: 0;
    }
}
.breadcrumbs a {
    transition: .3s color;
}
.breadcrumbs a:first-child {
    color: var(--primary);
}
.breadcrumbs a:hover {
    color: var(--primary);
}
.breadcrumbs i {
    font-size: 10px;
    margin: 0 8px;
}