/* pagination */

.pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination.pagination-dots {
    position: absolute;
    bottom: 0px;
    left: 0;
    margin-left: -4px;
    margin-right: -4px;
}
.pagination-dots .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #c6c6c6;
    cursor: pointer;
    margin-left: 4px;
    margin-right: 4px;
    border: none;
    padding: 0;
    transition: .3s background;
}
.pagination-dots .dot:hover {
    background: #878787;
}
.pagination-dots .dot.dot-active {
    background: #484848;
    pointer-events: none;
}

.pagination-dots.pagination-sidebar {
    bottom: 20px;
}
.pagination-dots.pagination-sidebar .dot:hover {
    background: #e3e3e3;
}
.pagination-dots.pagination-sidebar .dot.dot-active {
    background: white;
}

.pagination.pagination-buttons {

}
.pagination.pagination-buttons a {
    height: 38px;
    width: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #eeeeee;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    transition: .3s all;
}
.pagination.pagination-buttons a:hover {
    border-color: #f13544;
}
.pagination.pagination-buttons a.active {
    pointer-events: none;
    background: #f13544;
    border-color: #f13544;
    color: white;
}

.list-layout .pagination {
    margin-top: 30px;
}
@media (min-width: 768px) {
    .list-layout .pagination {
        margin-top: 60px;
    }
}