.sidebar .sidebar-socials ul {
    display: flex;
    margin-bottom: 30px;
}
.sidebar .sidebar-socials li {
    margin-right: 16px;
    text-align: center;
    font-style: 13px;
}
.sidebar .sidebar-socials li a {
    transition: .3s color;
}
.sidebar .sidebar-socials li a:hover {
    color: #f13544;
}
.sidebar .sidebar-socials i {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    font-size: 14px;
    transition: .3s border;
}
.sidebar .sidebar-socials li a:hover i {
    border: 1px solid #f13544;
}

.sidebar .banner {
    position: relative;
    margin-top: 30px;
}
.sidebar .banner h2 {
    position: absolute;
    top: 30px;
    left: 30px;
    font-weight: 500;
}

.sidebar-wrapper {
    display: flex;
}
.sidebar-wrapper .posts {

}
@media (min-width: 768px) {
    .sidebar-wrapper .posts {
        width: 100%;
    }
}
@media (min-width: 1024px) {
    .sidebar-wrapper .posts {
        width: 75%;
        margin-right: 80px;
    }
}
.sidebar-wrapper .sidebar {
    width: 25%;
    display: none;
}
@media (min-width: 768px) {
    .sidebar-wrapper .sidebar {
        display: block;
        width: 40%;
    }
}
@media (min-width: 1024px) {
    .sidebar-wrapper .sidebar {
        width: 25%;
    }
}
@media (min-width: 768px) {
    .sidebar-wrapper.post-wrapper .sidebar {
        display: none;
    }
}
@media (min-width: 1024px) {
    .sidebar-wrapper.post-wrapper .sidebar {
        display: block;
    }
}