.accordion:not(:last-child) {
    margin-bottom: 16px;
}
.accordion button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--gray-400);
    font-weight: 600;
    padding: 8px 10px;
    text-align: left;
}
.accordion button h3 {
    font-size: 14px;
    padding-right: 8px;
}
@media (min-width: 768px) {
    .accordion button {
        padding: 14px 20px;
    }
    .accordion button h3 {
        font-size: 16px;
    }
}
.accordion footer {
    display: none;
}
.accordion footer p {
    margin-top: 16px;
}
.accordion.open button {
    color: var(--primary);
}
.accordion.open button i {
    transform: rotate(180deg);
}
.accordion.open footer {
    display: block;
}