/* card */
.cards {

}
.card {

}
.card a {
    transition: .3s color;
}
.card a:hover {
    color: #f13544;
}
.card img {
    border-radius: 3px;
    display: block;
    width: 100%;
}
.card h3 {
    font-family: 'Libre Baskerville', serif;
    line-height: 26px;
    font-weight: bold;
    margin-bottom: 8px;
}
.card h2 a:hover, .card h3 a:hover {
    text-decoration: underline;
}
.author, .bottom {
    text-transform: uppercase;
    font-size: 13px;
}
.bottom {
    margin-top: 8px;
    color: #838383;
}
.bottom time {
    margin-right: 12px;
}
.bottom span {
    margin-left: 12px;
    margin-right: 12px;
}
@media (max-width: 767px) {
    .card .bottom time {
        display: inline-block;
        margin-bottom: 6px;
    }
}

/* card news */
.cards.cards-news {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-right: -15px;
    margin-left: -15px;
}
@media (min-width: 768px) {
    .cards.cards-news {
        padding-bottom: 40px;
    }
}
.cards.cards-news .pagination {
    display: none;
}
@media (min-width: 768px) {
    .cards.cards-news .pagination {
        display: flex;
    }
}
.card.card-news {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
@media (max-width: 767px) {
    .card.card-news {
        margin-bottom: 30px;
    }
}
@media (min-width: 640px) {
    .card.card-news {
        width: 50%;
    }
}
@media (min-width: 768px) {
    .card.card-news {
        width: 33.333%;
    }
    .card.card-news:last-of-type {
        display: none;
    }
}
@media (min-width: 1024px) {
    .card.card-news {
        width: 25%;
    }
    .card.card-news:last-of-type {
        display: block;
    }
}
.card .tags {
    margin-top: 16px;
}
@media (min-width: 1024px) {
    .card .tags {
        margin-top: auto;
    }
}
.card.card-news .tags, .card.card-comments .tags, .card.card-small .tags {
    margin-top: 16px;
}

/* card posts */
.card.card-horizontal {
    display: flex;
    flex-direction: column;
}
@media (min-width: 640px) {
    .card.card-horizontal {
        width: 50%;
    }
}
@media (min-width: 768px) {
    .card.card-horizontal {
        width: 100%;
    }
}
@media (min-width: 1024px) {
    .card.card-horizontal {
        flex-direction: row;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .cards-list {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
    .cards-list .card {
        padding: 15px;
    }
}
@media (min-width: 768px) {
    .cards-list .card.card-horizontal:not(:last-child) {
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid #eeeeee;
    }
}
@media (min-width: 1024px) {
    .card.card-horizontal .img-container {
        padding-right: 15px;
        width: 33.333%;
    }
}
.card.card-horizontal .card-right {
    display: flex;
    flex-direction: column;
}
@media (min-width: 1024px) {
    .card.card-horizontal .card-right {
        width: 60%;
        padding-left: 15px;
    }
}
.card.card-horizontal .card-right p:last-of-type {
    flex: 1;
}
.card.card-horizontal .more {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #f13544;
    margin-top: 16px;
}
.card.card-horizontal .more:hover {
    text-decoration: underline;
}
.cards-list .card.card-horizontal h3 {
    font-size: 22px;
    line-height: 35px;
}
.card.card-horizontal-small h3 {
    font-size: 16px;
    line-height: 26px;
}
.card.card-horizontal .desc {
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
    line-height: 24px;
}
.cards-list .card.card-horizontal .bottom {
    margin-bottom: 8px;
}

/* card sidebar post */
.card.card-sidebar-post {
    position: relative;
    display: flex;
    margin-bottom: 30px;
}
.card.card-sidebar-post .number {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f13544;
    border-radius: 50%;
    border: 3px solid white;
    font-size: 10px;
    color: white;
    transform: translate(-50%, -50%);
}
.card.card-sidebar-post .img-container {
    padding-right: 20px;
}
.card.card-sidebar-post .tags {
    margin-bottom: 5px;
}
.card.card-sidebar-post h3 {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
}

/* card sidebar instagram */
.cards.cards-instagram {
    margin: -10px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
}
.cards.cards-instagram .card {
    padding: 10px;
    width: 50%;
}

/* card over */
.card.card-over {
    min-height: 300px;
    position: relative;
}
.card.card-over img {
    filter: brightness(50%);
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: #ddd;
    border-radius: 3px;
}
.card.card-over .card-content {
    position: absolute;
    color: white;
    bottom: 0;
    left: 0;
    width: 100%;
}
.card.card-over h2 {
    font-weight: bold;
    line-height: 26px;
    margin-top: 8px;
    font-family: 'Libre Baskerville', serif;
}
@media (min-width: 768px) {
    .card.card-over h2 {
        font-size: 32px;
        line-height: 40px;
    }
}
@media (min-width: 1024px) {
    .card.card-over h2 {
        width: 66.666%;
    }
}
.card.card-over .bottom {
    color: white;
}
.card.card-over time {
    margin-left: 30px;
    margin-right: 30px;
}

/* card grid */
.cards-grid {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    padding-bottom: 30px;
}
@media (min-width: 768px) {
    .cards-grid {
        padding-bottom: 60px;
    }
}
.cards-grid .card {
    padding: 15px;
}
.cards-grid .card.card-over {
    position: relative;
    width: 100%;
}
.cards-grid .card.card-small {
    width: 100%;
}
@media (min-width: 640px) {
    .cards-grid .card.card-over {
        width: 50%;
    }
    .cards-grid .card.card-small {
       width: 50%;
    }
}
@media (min-width: 768px) {
    .cards-grid .card.card-small {
       width: 25%;
    }
}
.cards-grid .card.card-over .card-content {
    padding: 30px;
}

/* card swiper */
.swiper-slide .card.card-over .card-content {
    padding: 15px;
}
@media (min-width: 768px) {
    .swiper-slide .card.card-over .card-content {
        padding: 50px;
    }
    .swiper-slide .card.card-over .bottom {
        margin-top: 25px;
    }
}

.cards-grid .cards-list-small {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
@media (min-width: 1024px) {
    .cards-grid .cards-list-small {
        flex-direction: column;
    }
    .cards-grid .cards-list-small .card {
        padding: 0;
    }
    .cards-grid .cards-list-small .card:not(:last-child) {
        margin-bottom: 30px;
    }
}
@media (min-width: 640px) AND (max-width: 767px) {
    .cards-grid .cards-list-small .card.card-horizontal:last-child {
        display: none;
    }
}
@media (max-width: 639px) {
    .cards-grid .cards-list-small .card.card-horizontal {
        width: 100%;
    }
}
@media (min-width: 768px) AND (max-width: 1024px) {
    .cards-grid .cards-list-small .card.card-horizontal {
        width: 33.333%;
    }
}

.latest {
    overflow: hidden;
}
.latest .cards-grid.cards-right {
    width: 100%;
}
@media (max-width: 1023px) {
    .latest .cards-grid.cards-right {
        margin: 0;
    }
}
@media (min-width: 1024px) {
    .latest .cards-grid aside {
        padding: 15px;
        width: 33.333%;
    }
    .latest .cards-grid.cards-right {
        height: 100%;
        width: calc(66.666% + 30px);
        padding: 15px;
        padding-bottom: 0;
    }
    .latest .cards-grid .card-over {
        height: 100%;
    }
}