.post .comments {
    padding: 30px 0 15px 0;
    border-top: 1px solid var(--gray-300);
    border-bottom: 1px solid var(--gray-300);
}
@media (min-width: 768px) {
    .post .comments {
        margin-top: 60px;
        padding: 60px 0 30px 0;
    }
}
.comment {
    display: flex;
    align-items: center;
    padding: 30px 0;
    flex-wrap: wrap;
}
@media (min-width: 768px) {
    .comment {
        flex-wrap: nowrap;
    }
}
.post .comment:not(:last-of-type) {
    border-bottom: 1px solid var(--gray-300);
}
.comment img {
    border-radius: 50%;
    margin-right: 16px;
    margin-bottom: 16px;
}
@media (min-width: 768px) {
    .comment img {
        margin-bottom: 0;
    }
}
.comment time {
    text-transform: uppercase;
}
.comment p, .comment time {
    color: var(--gray-600);
    font-size: 14px;
}
.comment a {
    display: block;
    margin-top: 12px;
    text-transform: uppercase;
    color: var(--primary);
    font-weight: 600;
}
.comment .comment-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form-comment {
    padding: 30px 0;
}
@media (min-width: 768px) {
    .form-comment {
        padding: 60px 0;
    }
}

.form-comment .form button[type=submit] {
    width: 100%;
}
@media (min-width: 768px) {
    .form-comment .form button[type=submit] {
        width: auto;
    }
}

.form-comment .checkbox {
    margin-bottom: 30px;
}