.container {
    width: 100%;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1130px;
    }
}

.container-block-padding {
    padding-top: 30px;
    padding-bottom: 30px;
}
@media (min-width: 768px) {
    .container-block-padding {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}
.container-block-padding-sm {
    padding-top: 25px;
    padding-bottom: 25px;
}
@media (min-width: 768px) {
    .container-block-padding-sm {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
.container-block.container-block-border-b {
    border-bottom: 1px solid #eee;
}
.container-block h2 {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.container-block.categories {
    background: #FCF6F5;
}