.elements h2 {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}
.elements .container {
    display: flex;
    flex-wrap: wrap;
}


.w-full, .w-half, .w-third {
    width: 100%;
}

.elements section {
    margin-bottom: 30px;
}
@media (min-width: 768px) {
    .elements section {
        margin-bottom: 60px;
    }
}

@media (min-width: 1024px) {
    .elements section.w-half:nth-child(odd) {
        padding-right: 15px;
    }
    .elements section.w-half:nth-child(even) {
        padding-left: 15px;
    }

    .w-half {
        width: 50%;
    }
    .w-third {
        width: 33.333%;
    }
}

.message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}
.message:not(:last-child) {
    margin-bottom: 16px;
}
.message.message-error {
    background: #ffe9e9;
    color: #de5858;
}
.message.message-success {
    background: #ebf6e0;
    color: #5f9025;
}
.message.message-warning {
    background: #fbfadd;
    color: #bdba59;
}
.message.message-info {
    background: #e9f7fe;
    color: #3184ae;
}

table {
    width: 100%;
    border: 1px solid var(--gray-400);
}
table tr td {
    padding: 12px 16px;
}
table tr td:first-child {
    width: 35%;
}
table tr td:nth-child(2) {
    color: var(--gray-600);
}
table tr:not(:last-child) td {
    border-bottom: 1px solid var(--gray-400);
}

.elements .buttons .btn {
    margin-bottom: 8px;
    margin-right: 20px;
}
.elements .tooltips .btn {
    margin-bottom: 8px;
}