// /* grid */

// .grid-container-hp {
//     display: grid;
//     grid-template-columns: 2fr 1fr;
// }
// .grid-container-hp main {
//     display: grid;
//     grid-column: 1 / 3;
//     grid-row: 1 / 6;
//     grid-template-columns: 2fr 1fr;
//     grid-template-rows: repeat(5, auto);
// }

// .news { grid-column: 1 / 3; grid-row: 1 / 2; }
// .posts { grid-column: 1 / 2; grid-row: 2 / 3; }
// .sidebar { grid-column: 2 / 3; grid-row: 2 / 3; }
// .categories { grid-column: 1 / 3; grid-row: 3 / 4; }
// .latest { grid-column: 1 / 3; grid-row: 4 / 5; }
// .picks { grid-column: 1 / 3; grid-row: 5 / 6; }

// .posts {
//     max-width: 750px;
//     margin-right: 100px;
//     margin-left: auto;
// }
// .sidebar {
//     max-width: 292px;
// }