/* navbar */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    height: 80px;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    z-index: 50;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .menu-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.navbar .menu-btn svg {
    stroke: currentColor;
}
.navbar .logo {
    flex-grow: 1;
}

.navbar nav {
    display: none;
}
@media (min-width: 640px) {
    .navbar nav, .navbar .nav {
        display: flex;
        align-items: center;
    }
}

.navbar nav, .navbar .nav.nav-links {
    height: 100%;
}

.navbar ul {
    padding-inline-start: 0px;
}

.navbar .nav li {
    list-style-type: none;
    transition: .3s color;
    text-transform: uppercase;
    font-weight: 600;
}

.navbar .nav > li:hover {
    color: #f13544;
}

.navbar .nav.nav-links {
    padding-right: 15px;
    display: none;
}
@media (min-width: 1024px) {
    .navbar .nav.nav-links {
        display: flex;
    }
}

.navbar .nav.nav-links > li {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 10px;
    height: 100%;
    display: flex;
    align-items: center;
}
@media (min-width: 1280px) {
    .navbar .nav.nav-links > li {
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 10px;
    }
}

.navbar .nav.nav-links .fa-chevron-down {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    padding-left: 6px;
}

.navbar .nav.nav-social {
    padding-left: 10px;
}
@media (min-width: 1024px) {
    .navbar .nav.nav-social {
        border-left: 1px solid #eee;
    }
}

.navbar .nav.nav-social li {
    padding-left: 10px;
    padding-right: 10px;
}
.navbar .nav.nav-social li:last-child {
    border-left: 1px solid #eee;
    margin-left: 10px;
    padding-left: 20px;
}

.nav .subnav {
    position: absolute;
    top: 100%;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    min-width: 280px;
    border-top: 3px solid #f13544;
    background: white;
    border-radius: 3px;
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.1);
    transition: .3s opacity;
}

.nav li:hover .subnav {
    opacity: 1;
    pointer-events: auto;
}

.navbar .subnav li {
    color: black;
    font-weight: 500;
    font-size: 14px;
    transition: .3s color;
}
.navbar .subnav a {
    display: block;
    padding: 12px 25px;
    transition: .3s padding;
}
.navbar .subnav li:hover {
    color: #f13544;
}
.navbar .subnav li:hover a {
    padding-left: 35px;
}