.post {
    width: 100%;
}
.post img {
    max-width: 100%;
}
.post h1 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 600;
    margin: 16px 0;
    line-height: 1.333;
    font-size: 22px;
}
@media (min-width: 768px) {
    .post h1 {
        font-size: 30px;
    }
}
.post .bottom {
    line-height: 1.666;
}
.post h2, .post h3 {
    text-transform: uppercase;
    font-weight: 600;
}
article h2, article h3 {
    font-size: 18px;
}
section h2 {
    font-size: 20px;
}
.post > h2 {
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}
@media (min-width: 768px) {
    .post > h2 {
        margin-bottom: 25px;
    }
}
.post .cover {
    width: 100%;
    margin: 20px 0;
}
.post p:not([class]), .post ol, .post ul {
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    line-height: 1.625;
}
.post > p:not([class]) {
    margin-bottom: 30px;
}
@media (min-width: 768px) {
    .post > p:not([class]) {
        margin-bottom: 40px;
    }
}
.post strong {
    font-weight: bold;
}
.post em {
    font-style: italic;
}
.post p:not([class]) a, .post ul a, .post ol a {
    color: var(--primary);
    font-weight: bold;
    text-decoration: underline;
}
.post a:hover {
    text-decoration: none;
}

.post ul, .post ol {
    margin-bottom: 20px;
    padding-left: 1rem;
}
@media (min-width: 768px) {
    .post ul, .post ol {
        margin-bottom: 30px;
        line-height: 2.813;
    }
}
.post ul {
    list-style-type: disc;
}
.post ol {
    list-style: decimal;
}
.post li {
    padding-left: 6px;
}

blockquote {
    border-left: 4px solid var(--primary);
    padding: 30px 0 20px 30px;
    position: relative;
    margin-bottom: 20px;
}
@media (min-width: 768px) {
    blockquote {
        margin-bottom: 30px;
    }
}
blockquote:before {
    font-family: 'Libre Baskerville', serif;
    content: "“";
    font-weight: 900;
    font-size: 120px;
    color: var(--gray-300);
    z-index: -1;
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 16px;
}
blockquote footer {
    color: var(--gray-500);
    display: flex;
    align-items: center;
    margin-top: 16px;
    text-transform: uppercase;
}
blockquote footer:before {
    content: "";
    display: inline-block;
    background: var(--gray-500);
    width: 20px;
    height: 2px;
    margin-right: 10px;
}

figure {
    margin-bottom: 30px;
}
figure img {
    display: block;
    margin: 0 auto;
}
figure figcaption {
    margin-top: 16px;
    text-align: center;
    color: var(--gray-500);
}

@media (min-width: 768px) {
    .post aside.left {
        float: left;
        padding-right: 30px;
    }
}

.post .buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 22px;
}
.post .buttons a {
    margin-right: 8px;
    margin-bottom: 8px;
}
.post .buttons button {
    margin-bottom: 8px;
}
@media (min-width: 768px) {
    .post .buttons form {
        flex: 1;
        text-align: right;
    }
}

.post .share {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px 0 22px 0;
    border-top: 1px solid var(--gray-300);
    border-bottom: 1px solid var(--gray-300);
}
.post .share h2 {
    width: 100%;
    margin-bottom: 25px;
}
.post .share .left {
    font-size: 22px;
    font-weight: 600;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 16px;
}
@media (min-width: 768px) {
    .post .share .left {
        flex: 1;
        width: auto;
        margin-bottom: 0;
    }
}
.post .share .left span {
    text-transform: uppercase;
    color: var(--gray-500);
    font-size: 14px;
    margin-left: 8px;
}
.post .share .btn {
    margin-bottom: 8px;
}
.post .share .btn:not(:last-of-type) {
    margin-right: 8px;
}

.about-author {
    padding: 30px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
@media (min-width: 768px) {
    .about-author {
        flex-wrap: nowrap;
    }
}
.about-author img {
    border-radius: 50%;
    margin-bottom: 20px;
}
@media (min-width: 768px) {
    .about-author img {
        margin-right: 25px;
    }
}
.about-author p {
    font-size: 14px;
    color: var(--gray-600);
}
.about-author p:first-of-type {
    margin: 15px 0 10px 0;
}
.about-author .socials a {
    color: inherit;
    text-decoration: none;
    margin-right: 20px;
    transition: .3s color;
}
.about-author p a:hover {
    color: var(--black);
}

.post-newsletter {
    padding: 40px 20px;
    border: 2px solid var(--gray-300);
    border-radius: 3px;
}
.post-newsletter form {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.post-newsletter input {
    font-family: 'Libre Baskerville', serif;
    width: 100%;
    border: 1px solid var(--gray-400);
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    padding: 10px 20px;
}
.post-newsletter form button {
    width: 100%;
    margin-top: 10px;
    white-space: nowrap;
}
@media (min-width: 640px) {
    .post-newsletter form {
        flex-direction: row;
    }
    .post-newsletter form input {
        margin-right: 20px;
    }
    .post-newsletter form button {
        margin-top: 0;
        width: auto;
    }
}
@media (min-width: 768px) {
    .post-newsletter input {
        width: 50%;
        padding: 12px 20px;
    }
}
.post-newsletter h2, .post-newsletter p {
    text-align: center;
}
.post-newsletter p {
    font-size: 14px;
    margin-top: 16px;
}
.post-newsletter p:last-of-type {
    color: var(--gray-600);
}

.post-cards h2 {
    padding: 30px 0 15px 0;
}
@media (min-width: 768px) {
    .post-cards h2 {
        padding: 60px 0 30px 0;
    }
}

@media (min-width: 640px) {
    .post .card.card-news {
        width: 50%;
    }
}
@media (min-width: 768px) {
    .post .card.card-news:last-of-type {
        display: block;
    }
}

.switcher {
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.switcher svg {
    fill: currentColor;
}
.switcher a {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}
.switcher a:last-child {
    text-align: right;
}
.switcher h4 {
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 0;
}
.switcher div {
    margin: 0 20px;
}
.switcher span {
    display: block;
    color: var(--gray-600);
    text-transform: uppercase;
}

@media (min-width: 1024px) {
    .post.typography {
        width: 66.666%;
        margin: 0 auto;
    }
}

.post .h-1, .h-2, .h-3, .h-4, .h-5, .h-6 {
    font-weight: 600;
    margin-bottom: 20px;
}
@media (min-width: 768px) {
    .post .h-1, .h-2, .h-3, .h-4, .h-5, .h-6 {
        margin-bottom: 25px;
    }
}
.post .h-1 {
    font-size: 30px;
}
.post .h-2 {
    font-size: 26px;
}
.post .h-3 {
    font-size: 22px;
}
.post .h-4 {
    font-size: 20px;
}
.post .h-5 {
    font-size: 18px;
}
.post .h-6 {
    font-size: 16px;
}