/* swiper */
.swiper-container {
    display: flex;
    position: relative;
    margin: 0 -30px;
    height: 300px;
}
@media (min-width: 768px) {
    .swiper-container {
        height: 600px;
    }
}
.swiper-btn {
    position: absolute;
    border-radius: 50%;
    border: 1px solid black;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s color, .3s border;
    background: none;
}
@media (min-width: 768px) {
    .swiper-btn {
        color: white;
        border: 1px solid white;
        height: 50px;
        width: 50px;
        box-shadow: 0px 0px 50px 0px rgba(10, 10, 10, 0.15);
        background: rgba(10, 10, 10, 0.15);
    }
}
.swiper-btn:hover {
    border: 1px solid #f13544;
    color: #f13544;
}
.swiper-btn-prev {
    left: 0;
    top: 100%;
    transform: translate(20px, -100%);
}
.swiper-btn-next {
    right: 0;
    top: 100%;
    transform: translate(-20px, -100%);
}
@media (min-width: 768px) {
    .swiper-btn-prev {
        top: 50%;
        transform: translate(70px, -50%);
    }
    .swiper-btn-next {
        top: 50%;
        transform: translate(-70px, -50%);
    }
}
.swiper-btn svg {
    fill: currentColor;
}
.swiper-slide {
    padding-left: 30px;
    padding-right: 30px;
    flex-shrink: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.swiper-slide .card.card-over {
    height: 100%;
    overflow: hidden;
}
// .swiper-slide .card.card-over img {
//     width: auto;
// }