/* tabs */
.tabs {
    display: flex;
    margin-left: -5px;
    margin-right: -5px;
    flex-direction: column;
}
@media (min-width: 768px) {
    .tabs {
        flex-direction: row;
    }
}
.tab {
    white-space: nowrap;
    border-radius: 3px;
    padding: 14px 20px;
    background: none;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
    margin-left: 5px;
    margin-right: 5px;
    color: #999999;
    transition: .3s color;
    cursor: pointer;
}
@media (min-width: 1280px) {
    .tab {
        font-size: 16px;
    }
}
.tab:hover {
    color: black;
}
.tab.tab-active {
    pointer-events: none;
    background: #f0e6e4;
    color: black;
}

.categories .tabs {
    margin-bottom: 30px;
}

.tabs-content {
    padding-top: 30px;
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
    display: none;
    line-height: 1.625;
}
.tabs-content.active {
    display: block;
}